	// SCSS
@mixin button-reset {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
  }
  
  body {
	font-family: "Poppins", sans-serif;
	background-color: #dcf2f1;
  }
  
  .lifetime-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .center-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .buttonContainer {
	display: flex;
	justify-content: space-between;
  }
  
  .ageButton {
	@include button-reset;
	border-radius: 5px;
	padding: 6px 12px;
	font-size: 1.2rem;
	background-color: #365486;
	color: white;
  }
  
  .resetButton {
	@include button-reset;
	border-radius: 5px;
	padding: 6px 12px;
	font-size: 1.2rem;
	background-color: #365486;
	color: white;
	position: fixed;
	bottom: 16px;
	left: 16px;
  }
  
  #birthdate {
	padding: 6px 12px;
	border-radius: 5px;
	margin: 0px 10px 0px 0px;
  }
  
  .ageLabel {
	font-size: 3rem;
	color: #365486;
	margin-bottom: 8px;
	font-weight: bold;
	align-self: center;
  }
  
  .dateOfBirth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .timer {
	font-size: 1.2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .yearsLived {
	color: #0F1035;
	font-size: 5rem;
	sup {
	  font-size: 0.7rem;
	  vertical-align: super;
	}
  }

  .ageLabelTwo{
	color: #365486;
	font-size: 1.5rem;
	font-weight: bold;
  }
  